/* General Page Styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #76c7c0, #97c6e3);
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

/* כותרת ראשית */
.header {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 20px 20px 20px 60px; /* הזזה ימינה עם padding */
  margin-bottom: 40px; /* להגדיל את המרחק מהחלק הבא */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
}

.title {
  color: white;
  font-size: 3rem;
  margin: 0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 15;
}

.sidebar.active {
  left: 0;
}

.sidebar-button {
  background: none;
  color: white;
  border: 1px solid #555;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sidebar-button:hover {
  background: #555;
}

/* Burger Button */
.burger-button {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 20;
  transition: color 0.3s ease;
}

.burger-button:hover {
  color: #ddd;
}

/* Main Content - החלק של המשחקים */
.menu, .coming-soon-section {
  margin-top: 180px; /* הזזת המשחקים יותר למטה */
  text-align: center;
  width: 80%;
}
.section-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Buttons */
.game-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.available-games .game-button {
  background-color: #4caf50;
  color: white;
}

.available-games .game-button:hover {
  background-color: #45a049;
  transform: translateY(-5px);
}

.coming-soon-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.coming-soon {
  background-color: #aaa;
  color: #fff;
  cursor: not-allowed;
}

.coming-soon:hover {
  background-color: #999;
  transform: none;
}

/* User Info */
.user-info {
  margin-top: auto;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  width: 100%;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.user-info h3 {
  margin: 5px 0;
  font-size: 1.5rem;
}

.user-info p {
  margin: 5px 0;
}
