/* עיצוב כללי */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #c3ec52, #0ba29d);
  color: #333;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; /* מניעת גלילה אופקית */
}

.sidebar {
  position: fixed;
  top: 3;
  top: 11%; /* תחילת הסרגל מלמעלה */
  right: -250px; /* Sidebar מתחיל מחוץ למסך */
  height: auto;
  width: auto; /* Fixed width for the sidebar */

  background-color: #333;
  color: white;
  overflow-y: auto;
  padding: 20px;
  transition: right 0.3s ease; /* מעבר חלק לפתיחה/סגירה */
  display: flex;
  transform: translateY(-50%);
  z-index: 10; /* Ensure sidebar is above other elements */
}

/* כותרת */
header h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* תפריט מרכזי */
.menu {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.menu button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

/* פרטי משתמש */
#user-info {
  margin-top: 20px;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Burger Button Styling */
.burger-button {
  position: fixed;
  top: 0px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 20; /* כפתור מעל תפריט הצד */
}

.sidebar button {
  background: none;
  color: white;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #555;
}

.burger-button:hover {
  color: #ddd;
  transition: 0.6s;
}
