body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; /* Light grey background */
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #87CEEB, #98FB98); /* Sky blue to light green */
  overflow: hidden;
}

#figure {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: -5.3px;
  z-index: 1;
  border: #000 solid 1px;
}

.platform {
  position: absolute;
  background-color: #8FBC8F; /* Dark sea green */
  border: 1px solid #2E8B57; /* Sea green */
  z-index: 1;
}

@keyframes movingPlatform {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10vh);
  }
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.coin {
  position: absolute;
  width: 2vw; /* Width relative to the viewport width */
  height: 2vw; /* Height relative to the viewport width */
  background-color: #FFD700; /* Gold */
  border-radius: 50%;
  box-shadow: 0 0 10px #FFD700;
  animation: spin 2s linear infinite; /* Add spinning animation */
}

@keyframes coinPickup {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}

.spike {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid #000000; /* Black */
  z-index: 0;
}

@keyframes spikeAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3.3vh);
  }
}

.end_door {
  position: absolute;
  width: calc(3vh + 3vw);
  height: calc(4vh + 4vw);
  background: linear-gradient(to bottom, #FFD700, #FAF0E6, #ADD8E6); /* Gold to linen to light blue */
  box-shadow: 0 0 20px 5px #FFD700; /* Glowing light effect */
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border: 10px solid #00008B; /* Dark blue */
  z-index: 0;
}

.hearts {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px; /* Adjusted size for better visibility */
  z-index: 2;
}

#score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #000000; /* Black */
  z-index: 2;
}